<div class="container col-6 p-1">
<br>
<h1 class="d-flex justify-content-center m-auto">Mes candidatures</h1>
<br>
<br>
{{#if applications}}
    {{#each applications}}
    <div class="row mb-3 ">
        <div class="container section p-3 d-flex  justify-content-between">
            <p>
                <span class="font-weight-bold">{{project}}</span>
                <br>
                <span class="badge badge-pill {{#equals status "En attente"}}badge-warning{{else}}{{#equals status "Accepté"}}badge-success{{else}}badge-danger{{/equals}}{{/equals}}">{{status}}</span>
            </p>
            <a href="/projets/{{project_id}}" class="btn p-2 btn-danger mx-0 my-auto">Voir le projet</a>
        </div>
    </div>
    {{/each}}
{{else}}
<p>Vous n'avez fait aucune candidature.</p>
<a class="btn btn-primary" href="/recherche">Trouvez des projets qui vous intéressent !</a>
{{/if}}
</div>
