<form action="" method="GET" class="container-fluid">

    <div class="container" style="margin-top: 1%">

        <div class="row">

            <!-- FILTRES -->

            <div class="col-3 border border-secondary rounded p-3 mr-3 d-flex mb-auto flex-column">

                <div class="d-flex justify-content-center">
                    <h4>Catégories</h3>
                </div>

                <div class="m-2 d-flex flex-column font-weight-bold">
                        <div class="mb-2">
                            <input {{#equals null ../cat}} checked {{/equals}} type="radio" id="vide" value="" name="cat">
                            <label for="vide">Toutes</label>
                        </div>
                        {{#each projectCategories}}
                        <div class="mb-2">
                            <input {{#equals _id ../cat}} checked {{/equals}} type="radio" id="{{name}}" value="{{_id}}" name="cat">
                            <label for="{{name}}">{{name}}</label>
                        </div>
                        {{/each}}
                        <input type="submit" value="Valider" class="btn btn-outline-danger mt-2 mx-auto">
                </div>

            </div>
            <div class="col-6">

                <input type="search" name="query" value="{{query}}" placeholder="🔎 Recherche..." class="w-100" id="recherche">

                <p class="font-weight-bold" style="margin-top: 2%; font-size: 1.2em">{{count}} résultat(s) pour votre recherche.</p>

                <hr class="border border-dark" />
                <!-- RESULTATS RECHERCHE -->
                {{#if projects}}
                <div class="container">
                    {{#each projects}}

                    <div class="row rounded border p-2 mb-3 pb-3">
                        <div class="col">
                            <p class="font-weight-bold">{{name}}</p>
                            <p>{{category}}</p>
                            <div class="float-right">

                                <a href="/projets/{{_id}}"><input class="btn btn-danger" type="button"
                                        value="Voir le projet"></a>
                            </div>
                        </div>
                    </div>



                    {{/each}}
                </div>
                {{else}}
                <p>Aucun projet ne correspond à votre recherche.</p>
                {{/if}}

            </div>

        </div>


    </div>

</form>

{{!-- <form >
    <div class="form-group">
        <input class="form-control" type="search" name="query" id="recherche" value="{{query}}" placeholder="🔎 Par mot clé...">
    </div>
    <div class="form-group">
        <label for="cat">Catégorie</label>
        <select class="custom-select" name="cat" id="cat">
            <option value="">Choisissez...</option>
            {{#each projectCategories}}
                <option {{#equals _id ../cat}} selected {{/equals}} value="{{_id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Valider">
    </div>
</form>    
{{#if projects}}
<ul class="list-group">
{{#each projects}}
    <li class="list-group-item">
        <a href="/projets/{{_id}}">{{name}}<span class="badge badge-pill badge-secondary ml-2">{{category}}</a>
    </li>
{{/each}}
</ul>
{{else}}
<p>Aucun projet ne correspond à votre recherche.</p>
{{/if}} --}}